.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__logo {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
  width: 100px;
  object-fit: contain;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 2px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
}

.header__nav {
  display: flex;
  
  justify-content: space-evenly;
}


.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
